<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>パスワード更新</title>
    <link href="login.css" rel="stylesheet"/>
</head>
<body>
    <div class="login-container">
        <h1>パスワード更新</h1>
        <form action="/updateDB" method="post" th:object="${loginUser}">
            <div class="form-group">
                <label for="username">ユーザー名:</label>
                <p th:text="|*{username}|"></p>
            </div>
            <div class="form-group">
                <label for="password">新しいパスワードを入力してください:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <input type="hidden" th:field ="*{userId}" name="userId">
            <button type="submit">パスワード更新</button>
        </form>
    </div>
</body>
</html>